<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TATTOO IT</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

    <!-- FONTS-ICOMOON -->
    <link rel="stylesheet" href="fonts-redes.css">
    <link rel="stylesheet" href="fonts.css">    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">  

  </head>
  <body>
    <div class="navbar">
      <div class="logo">
          <h3><a href="index.html">TATTOO IT</a> </h3>
      </div>
      <ul class="menu"> 
          <li><a href="#">Encuentra</a>
            <ul>
              <li><a href="estilos.html">Estilos</a></li>
              <li><a href="tatuajes.html">Tatuajes</a></li>
              <li><a href="artistas.html">Artistas</a></li>
            </ul>

          </li>

          <li><a href="#">Agendar</a></li>
      </ul>
      <ul class="sign">
          <li><a href="#">Accede</a></li>
          <li><a href="#">Regístrate</a></li>
      </ul>


    </div>

    <div class="contacto">
      <p>
        ¿Tienes una idea <br> 
        para tu tatuaje?
      </p>
      <div class="whatsapp">
        <img src="../static/img/whatsapptattoo.png" alt="">
        <div>
          <p><a href="">Contáctanos!</a> </p>
        </div>
      </div>
    </div>

    <div class="caja_busqueda_tatuajes">
      <h1>Encuentra tu Artista</h1>
      <div class="caja-form">
        <form action="" method="post" class="form-busqueda_tatuajes">
          <input type="search" placeholder="Buscar">
        </form>
        <button class="boton_filtro">
          <span>Filtro</span>
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="caja_filtros">
      <div class="filtro_cuerpo">
        <button class="btn_filtros"><span>Cualquier Estudio</span></button>
        <button class="btn_filtros"><span>Anubis</span></button>
        <button class="btn_filtros"><span>Valhalla</span></button>
        <button class="btn_filtros"><span>Escobart</span></button>
      </div>
      <div class="filtro_estilo">
        <button class="btn_filtros"><span>Cualquier Estilo</span></button>
        <button class="btn_filtros"><span>Negro & Gris</span></button>
        <button class="btn_filtros"><span>Linea Fina</span></button>
        <button class="btn_filtros"><span>Tradicional</span></button>
      </div>
    </div>

    <div class="contenedor_artistas">
      <div class="contenedor_caja_artistas">
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador1.jpg">
          </div>
          <div class="Content">
              <h2><a href="https://perfilartistas.tattooit.repl.co/">Juana Mora</a> <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../static/img/tatuador2.jpg">
            </div>
            <div class="Content">
                <h2>Geometría <br><span>Muy Pronto</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../static/img/tatuador3.jpg">
            </div>
            <div class="Content">
                <h2>Estadística <br><span>Muy Pronto</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../static/img/tatuador4.jpg">
            </div>
            <div class="Content">
                <h2>Cálculo y Análisis <br><span> <a href="perfilArtista.html">Ver Perfil</a> </span></h2>
            </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador5.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador6.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador7.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador8.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuador9.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
              <img src="../static/img/tatuadora.jpg">
          </div>
          <div class="Content">
              <h2>Algebra <br><span>Muy Pronto</span></h2>
          </div>
        </div>

      </div>
    </div>

    <div class="contenedor-artistas">
      <div class="contenedor-caja-artistas">
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador1.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador2.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador3.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador4.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador5.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador6.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuador7.jpg" alt=""></a>
        </div>
        <div class="caja">
          <a href="perfilArtista.html"><img src="../static/img/tatuadora.jpg" alt=""></a>
        </div>
      </div>
      
    </div>

    <div class="footer">
      <div class="footer-listas">
        <div class="foo-list">
          <h3>Encuentra</h3>
          <ul>
            <li><a href="">Estilos</a></li>
            <li><a href="">Tatuajes</a></li>
            <li><a href="">Artistas</a></li>
            <li><a href="">Agéndate</a></li>
          </ul>
        </div>
        <div class="foo-list">
          <h3>Empresa</h3>
          <ul>
            <li><a href="">Acerca</a> </li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </div>
        <div class="foo-list">
          <h3>Para Tatuadores</h3>
          <ul>
            <li><a href="">Regístrate</a></li>
          </ul>
        </div>
        <div class="foo-list social">
          <h3>Redes Sociales</h3>
          <div>
            <a href="#" class="link-media"><span class="icon-facebook"></span></a>
            <a href="#" class="link-media"><span class="icon-instagram"></span></a>
            <a href="#" class="link-media"><span class="icon-twitter"></span></a>
            <a href="#" class="link-media"><span class="icon-youtube"></span></a>
          </div>
        </div>
      </div>

      <div class="footer-logo">
        <p>TATTOO IT</p>
        <h3> Copyright &copy; 2021 Tattoo It. Todos los derechos reservados. </h3>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
	  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="../static/js/artistas.js"></script>
  </body>
</html>