<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TATTOO IT</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
  <!-- FONTS-ICOMOON -->
  <link rel="stylesheet" href="fonts-redes.css">
  <link rel="stylesheet" href="fonts.css">
  <link rel="stylesheet" href="../static/css/style.css">
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

</head>
<body>
       <div class="navbar">
            <div class="logo">
                <h3><a href="index.html">TATTOO IT</a> </h3>
            </div>
            <ul class="menu"> 
                <li><a href="#">Encuentra</a>
                  <ul>
                    <li><a href="estilos.html">Estilos</a></li>
                    <li><a href="tatuajes.html">Tatuajes</a></li>
                    <li><a href="artistas.html">Artistas</a></li>
                  </ul>

                </li>

                <li><a href="#">Agendar</a></li>
            </ul>
            <ul class="sign">
                <li><a href="#">Accede</a></li>
                <li><a href="#">Regístrate</a></li>
            </ul>


        </div>

        <div class="contacto">
          <p>
            ¿Tienes una idea <br> 
            para tu tatuaje?
          </p>
          <div class="whatsapp">
           <img src="../static/img/whatsapptattoo.png" alt="">
            <div>
              <p><a href="">Contáctanos!</a> </p>
            </div>
          </div>
        </div>

        <div class="carrusel_estilo">
          <div class="caja_busqueda">
           <h1>Explora</h1>
           <div class="caja-form">
             <form action="" method="post" class="form-busqueda">
              <input type="search" placeholder="Busca Tu Estilo">
              <button class="lista-estilos">
                <i class="fas fa-chevron-down"></i>
              </button>
              <div class="caja-lista-estilos">
                <button class="btn-estilos"><span>Black & Gray</span></button>
                <button class="btn-estilos"><span>Blackwork</span></button>
                <button class="btn-estilos"><span>Chicano</span></button>
                <button class="btn-estilos"><span>Fineline</span></button>
                <button class="btn-estilos"><span>Geometric</span></button>
              </div>

            </form>
           </div>
          </div>

          <div class="carousel__contenedor">
            <h2>Style</h2>
            <button aria-label="Anterior" class="carousel__anterior">
              <i class="fas fa-chevron-left"></i>
            </button>

            <div class="carousel__lista">
              <div class="carousel__elemento">
                <img src="../static/img/tattoo1.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo8.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo2.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo3.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo4.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo5.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo6.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>
              <div class="carousel__elemento">
                <img src="../static/img/tattoo8.jpg" alt="Rock and Roll Hall of Fame">
                <p>Rock and Roll Hall of Fame</p>
              </div>

            </div>

            <button aria-label="Siguiente" class="carousel__siguiente">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div role="tablist" class="carousel__indicadores"></div>
          
        </div>


        <div class="footer">
          <div class="footer-listas">
              <div class="foo-list">
              <h3>Encuentra</h3>
              <ul>
                <li><a href="">Estilos</a></li>
                <li><a href="">Tatuajes</a></li>
                <li><a href="">Artistas</a></li>
                <li><a href="">Agéndate</a></li>
              </ul>
            </div>
            <div class="foo-list">
              <h3>Empresa</h3>
              <ul>
                <li><a href="">Acerca</a> </li>
                <li><a href="">Ayuda</a></li>
              </ul>
            </div>
            <div class="foo-list">
              <h3>Para Tatuadores</h3>
              <ul>
                <li><a href="">Regístrate</a></li>
              </ul>
            </div>
            <div class="foo-list social">
              <h3>Redes Sociales</h3>
              <div>
                <a href="#" class="link-media"><span class="icon-facebook"></span></a>
                <a href="#" class="link-media"><span class="icon-instagram"></span></a>
                <a href="#" class="link-media"><span class="icon-twitter"></span></a>
                <a href="#" class="link-media"><span class="icon-youtube"></span></a>
              </div>
            </div>
          </div>

          <div class="footer-logo">
            <p>TATTOO IT</p>
            <h3> Copyright &copy; 2021 Tattoo It. Todos los derechos reservados. </h3>
          </div>

          
          

        </div>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../static/js/estilos.js"></script>
</body>
</html>