<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>TATTOO IT</title>
    <!-- FONTS-ICOMOON -->
    <link rel="stylesheet" href="fonts-redes.css">
</head>
<body>
    <div>
        <div class="navbar">
            <div class="logo">
                <h3><a href="index.html">TATTOO IT</a> </h3>
            </div>
            <ul class="menu"> 
                <li class="menu-fila"><a href="#">Encuentra</a>
                  <ul>
                    <li><a href="estilos.html">Estilos</a></li>
                    <li><a href="tatuajes.html">Tatuajes</a></li>
                    <li><a href="artistas.html">Artistas</a></li>
                  </ul>

                </li>

                <li class="menu-fila"><a href="#">Agendar</a></li>
            </ul>
            <ul class="sign">
                <li><a href="#">Accede</a></li>
                <li><a href="#">Regístrate</a></li>
            </ul>


        </div>
        <div class="container-video">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/CtKZ4Y48oZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="estilo">
            <div class="caja-estilos">
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo2.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo3.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo4.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo2.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo4.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo3.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo2.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo4.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo3.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo2.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo4.jpg" alt="imagen tattoo">
                    </div>
                </a>
                <a href="">
                    <div class="estilos">
                        <h3>estilo 1</h3>
                        <img src="../static/img/estilo3.jpg" alt="imagen tattoo">
                    </div>
                </a>
            </div>
            <div class="contacto">
              <p>
                ¿Tienes una idea <br> 
                para tu tatuaje?
              </p>
              <div class="whatsapp">
                <img src="../static/img/whatsapptattoo.png" alt="">
               <div>
                 <p><a href="">Contáctanos!</a> </p>
               </div>
              </div>
            </div>
        </div>

        <div class="inspirate">
          <h1>
            <b>INSPÍRATE</b>
          </h1>
          <div class="collage">
           <div class="masonry-item cell cell-1">
                <img src="../static/img/estilo.jpg">
            </div>
            <div class="masonry-item cell cell-2">
                <img src="../static/img/estilo2.jpg">
            </div>
            <div class="masonry-item cell cell-3">
                <img src="../static/img/estilo3.jpg">
            </div>
            <div class="masonry-item cell cell-4">
                <img src="../static/img/estilo4.jpg">
            </div>
            <div class="masonry-item cell cell-5">
                <img src="../static/img/estilo2.jpg">
            </div>
            <div class="masonry-item cell cell-6">
                <img src="../static/img/estilo4.jpg">
            </div>
            <div class="masonry-item cell cell-7">
                <img src="../static/img/estilo3.jpg">
            </div>
            <div class="masonry-item cell cell-8">
                <img src="../static/img/estilo2.jpg">
            </div>  
            <div class="masonry-item cell cell-9">
                <img src="../static/img/estilo.jpg">
            </div>
            <div class="masonry-item cell cell-10">
                <img src="../static/img/estilo3.jpg">
            </div>
            <div class="masonry-item cell cell-11">
                <img src="../static/img/estilo2.jpg">
            </div>
            <div class="masonry-item cell cell-12">
                <img src="../static/img/estilo.jpg">
            </div>
            <div class="masonry-item cell cell-13">
                <img src="../static/img/estilo3.jpg">
            </div>
            <div class="masonry-item cell cell-14">
                <img src="../static/img/estilo4.jpg">
            </div>
            <div class="masonry-item cell cell-15">
                <img src="../static/img/estilo2.jpg">
            </div>
            <div class="masonry-item cell cell-16">
                <img src="../static/img/estilo.jpg">
            </div>
          </div>
        </div>

        <div class="tattooers">
          <div class="ingreso-tattooers">
            <h3>
              TATTOO IT PARA <br>
              TATUADORES
            </h3>
            <p>
              ¿Eres artista y quieres <br>
              hacer parte de Tattoo It?

            </p>
            <div>
              <a href="">Ingresa Aquí</a>
            </div>
          </div>

          <div class="imagen-tattooers">
           <img src="../static/img/tatuador2.jpg" alt="">
          </div>
        </div>

        <div class="testimonios">
         <h1>
           TESTIMONIOS
         </h1>
         <div class="cajas-testimonio">
           <div class="caja-test">
             <div class="caja-img">
               <img src="../static/img/testimonio1.jpg" alt="">
             </div>
             <p>
              <b>Johnny Depp</b> <br><br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio rem, praesentium dolores non veritatis beatae dolore accusamus! Quam nulla impedit sit inventore doloremque! Obcaecati eveniet quidem rerum ex aperiam iste.
             </p>
           </div>
           <div class="caja-test">
             <div class="caja-img">
               <img src="../static/img/testimonio2.jpg" alt="">
             </div>
             <p>
              <b>Jason Momoa</b> <br><br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio rem, praesentium dolores non veritatis beatae dolore accusamus! Quam nulla impedit sit inventore doloremque! Obcaecati eveniet quidem rerum ex aperiam iste.
             </p>
           </div>
           <div class="caja-test">
             <div class="caja-img">
               <img src="../static/img/testimonio3.jpg" alt="">
             </div>
             <p>
              <b>Katy Perry</b>  <br><br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio rem, praesentium dolores non veritatis beatae dolore accusamus! Quam nulla impedit sit inventore doloremque! Obcaecati eveniet quidem rerum ex aperiam iste.
             </p>
           </div>
         </div>
        </div>


        <div class="footer">
          <div class="footer-listas">
              <div class="foo-list">
              <h3>Encuentra</h3>
              <ul>
                <li><a href="">Estilos</a></li>
                <li><a href="">Tatuajes</a></li>
                <li><a href="">Artistas</a></li>
                <li><a href="">Agéndate</a></li>
              </ul>
            </div>
            <div class="foo-list">
              <h3>Empresa</h3>
              <ul>
                <li><a href="">Acerca</a> </li>
                <li><a href="">Ayuda</a></li>
              </ul>
            </div>
            <div class="foo-list">
              <h3>Para Tatuadores</h3>
              <ul>
                <li><a href="">Regístrate</a></li>
              </ul>
            </div>
            <div class="foo-list social">
              <h3>Redes Sociales</h3>
              <div>
                <a href="#" class="link-media"><span class="icon-facebook"></span></a>
                <a href="#" class="link-media"><span class="icon-instagram"></span></a>
                <a href="#" class="link-media"><span class="icon-twitter"></span></a>
                <a href="#" class="link-media"><span class="icon-youtube"></span></a>
              </div>
            </div>
          </div>

          <div class="footer-logo">
            <p>TATTOO IT</p>
            <h3> Copyright &copy; 2021 Tattoo It. Todos los derechos reservados. </h3>
          </div>

          
          

        </div>
        


    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>