<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TATTOO IT</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

    <!-- FONTS-ICOMOON -->
    <link rel="stylesheet" href="fonts-redes.css">
    <link rel="stylesheet" href="fonts.css">    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

    

  </head>
  <body>
    <div class="navbar">
      <div class="logo">
          <h3><a href="index.html">TATTOO IT</a> </h3>
      </div>
      <ul class="menu"> 
          <li><a href="#">Encuentra</a>
            <ul>
              <li><a href="estilos.html">Estilos</a></li>
              <li><a href="tatuajes.html">Tatuajes</a></li>
              <li><a href="artistas.html">Artistas</a></li>
            </ul>

          </li>

          <li><a href="#">Agendar</a></li>
      </ul>
      <ul class="sign">
          <li><a href="#">Accede</a></li>
          <li><a href="#">Regístrate</a></li>
      </ul>


    </div>

    <div class="contacto">
      <p>
        ¿Tienes una idea <br> 
        para tu tatuaje?
      </p>
      <div class="whatsapp">
        <img src="../static/img/whatsapptattoo.png" alt="">
        <div>
          <p><a href="">Contáctanos!</a> </p>
        </div>
      </div>
    </div>
    
    <div class="caja_busqueda_tatuajes">
      <h1>Explora Tatuajes</h1>
      <div class="caja-form">
        <form action=""  class="form-busqueda_tatuajes">
          <input type="search" placeholder="Buscar">
        </form>
        <button class="boton_filtro">
          <span>Filtro</span>
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="caja_filtros">
      <div class="filtro_cuerpo">
        <button class="btn_filtros"><span>Cualquier Lugar</span></button>
        <button class="btn_filtros"><span>Cabeza / Cuello</span></button>
        <button class="btn_filtros"><span>Hombro</span></button>
        <button class="btn_filtros"><span>Brazo</span></button>
      </div>
      <div class="filtro_estilo">
        <button class="btn_filtros"><span>Cualquier Estilo</span></button>
        <button class="btn_filtros"><span>Negro & Gris</span></button>
        <button class="btn_filtros"><span>Linea Fina</span></button>
        <button class="btn_filtros"><span>Tradicional</span></button>
      </div>
    </div>

    <div class="contenedor_tatuajes">
      <div class="caja_tatuajes">
        <div class="ct ct1">
          <img class="imageSR" src="../static/img/tattoo1.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo2.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo3.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo4.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo5.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo6.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo7.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo8.jpg" alt="">
        </div>
        <div class="ct ct2">
          <img class="imageSR" src="../static/img/tattoo6.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo1.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo3.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo8.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo2.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo4.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo7.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo5.jpg" alt="">
        </div>
        <div class="ct ct3">
          <img class="imageSR" src="../static/img/tattoo8.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo2.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo5.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo7.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo1.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo4.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo6.jpg" alt="">
          <img class="imageSR" src="../static/img/tattoo3.jpg" alt="">
        </div>
      </div>
      
    </div>



    <div class="footer">
      <div class="footer-listas">
        <div class="foo-list">
          <h3>Encuentra</h3>
          <ul>
            <li><a href="">Estilos</a></li>
            <li><a href="">Tatuajes</a></li>
            <li><a href="">Artistas</a></li>
            <li><a href="">Agéndate</a></li>
          </ul>
        </div>
        <div class="foo-list">
          <h3>Empresa</h3>
          <ul>
            <li><a href="">Acerca</a> </li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </div>
        <div class="foo-list">
          <h3>Para Tatuadores</h3>
          <ul>
            <li><a href="">Regístrate</a></li>
          </ul>
        </div>
        <div class="foo-list social">
          <h3>Redes Sociales</h3>
          <div>
            <a href="#" class="link-media"><span class="icon-facebook"></span></a>
            <a href="#" class="link-media"><span class="icon-instagram"></span></a>
            <a href="#" class="link-media"><span class="icon-twitter"></span></a>
            <a href="#" class="link-media"><span class="icon-youtube"></span></a>
          </div>
        </div>
      </div>

      <div class="footer-logo">
        <p>TATTOO IT</p>
        <h3> Copyright &copy; 2021 Tattoo It. Todos los derechos reservados. </h3>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
	  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    
    <!--SCROLL REVEAL-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../static/js/tatuajes.js"></script>
  </body>
</html>